/*$breakpoints: (
    mobile: 428px,
    tablet: 1024px,
    desktop: 1290px
}*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background: #F6F6F6;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: Roboto, Arial, Verdana, sans-serif;
  color: #000;
}

.center {
  text-align: center;
}

.header {
  font-family: Shrikhand, Arial, Verdana, sans-serif;
  font-size: 1.75rem;
}
@media screen and (min-width: 480px) {
  .header {
    font-size: 3rem;
  }
}

.btn {
  margin-top: 1.875rem;
  height: 3.125rem;
  width: 15rem;
  border-radius: 2.1875rem;
  font-size: 1rem;
  background: linear-gradient(#FF79DA, #9356DC);
  outline: none;
  border: none;
  color: #ebebeb;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0.15rem 0.625rem #c3c3c3;
}
.btn:hover {
  background: linear-gradient(#ff9de4 10%, #8b49d9);
  box-shadow: 0px 0.375rem 0.25rem #c3c3c3;
}
@media screen and (min-width: 480px) {
  .btn {
    height: 3.75rem;
    width: 18.75rem;
    font-size: 1.25rem;
  }
}

.header {
  height: 4.375rem;
  padding-top: 1.25rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.125rem 0.625rem #c3c3c3;
}
@media screen and (min-width: 480px) {
  .header {
    height: 5.625rem;
  }
}

.search {
  height: 4.0625rem;
  padding-top: 1.5625rem;
}
.search__input {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #F6F6F6;
  margin-left: 0.625rem;
  max-width: 40%;
}
@media screen and (min-width: 480px) {
  .search {
    height: 5.3125rem;
    padding-top: 2.8125rem;
    padding-left: 10%;
  }
  .search__input {
    font-size: 1.5rem;
    margin-left: 1.875rem;
  }
  .search__ico {
    font-size: 1.5rem;
  }
}

.return {
  position: absolute;
  left: 1.5625rem;
  top: 1.5625rem;
  font-size: 1.3125rem;
}
.return a {
  text-decoration: none;
  color: #000;
}

.sticker-new {
  height: 1.875rem;
  width: 5rem;
  text-align: center;
  padding: 0.375rem;
  background-color: #99E2D0;
  position: absolute;
  top: 0.9375rem;
  right: 2.1875rem;
  color: #185546;
}

.footer {
  margin-top: 3.75rem;
  background-color: #343434;
  padding: 1.5625rem 1.25rem;
  color: #FFFFFF;
}
.footer__logo {
  font-family: Shrikhand, Arial, Verdana, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1.25rem;
}
.footer__links {
  font-size: 1.125rem;
  padding-bottom: 0.625rem;
}
.footer__links a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__ico {
  padding-right: 0.625rem;
}

.menu__img {
  height: 16.5625rem;
  object-fit: cover;
  position: relative;
}
.menu__shopname {
  position: absolute;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #F6F6F6;
  left: 0;
  width: 100%;
  top: 19.0625rem;
  font-family: Shrikhand, Arial, Verdana, sans-serif;
  font-size: 1.625rem;
  padding: 2.1875rem 1.25rem 0 1.25rem;
}
@media screen and (min-width: 480px) {
  .menu__shopname {
    font-size: 1.875rem;
  }
}
.menu__like {
  position: absolute;
  font-size: 1.375rem;
  right: 1.5rem;
  top: 21.25rem;
  font-size: 1.625rem;
  color: gray;
}
.menu__container {
  position: absolute;
  margin-top: 1.25rem;
  height: 90%;
  width: 100%;
  background: #F6F6F6;
  z-index: 1;
  animation: hide 2500ms forwards ease 1;
  animation-delay: 1099ms;
}
.menu__categories {
  text-transform: uppercase;
  height: 1.5625rem;
  width: max-content;
  border-bottom: 0.1875rem solid #99E2D0;
  margin: 4.375rem 1.25rem 1.25rem 1.25rem;
  animation: menu 1000ms forwards ease;
}
.menu__categories--1 {
  animation-delay: 1100ms;
}
.menu__categories--2 {
  animation-delay: 2100ms;
}
.menu__categories--3 {
  animation-delay: 3100ms;
}
@media screen and (min-width: 480px) {
  .menu__categories {
    font-size: 1.375rem;
  }
}
.menu__choices {
  max-width: 100%;
  padding: 0 0.625rem;
}
.menu__items {
  position: relative;
  height: 4.375rem;
  background-color: #FFFFFF;
  border-radius: 1.25rem;
  padding: 0.75rem;
  margin-bottom: 0.625rem;
  animation: menu 1000ms;
  box-shadow: 0px 0.15rem 0.625rem #c3c3c3;
}
.menu__items--11 {
  animation-delay: 1250ms;
}
.menu__items--12 {
  animation-delay: 1500ms;
}
.menu__items--13 {
  animation-delay: 1750ms;
}
.menu__items--14 {
  animation-delay: 2000ms;
}
.menu__items--21 {
  animation-delay: 2250ms;
}
.menu__items--22 {
  animation-delay: 2500ms;
}
.menu__items--23 {
  animation-delay: 2750ms;
}
.menu__items--24 {
  animation-delay: 3000ms;
}
.menu__items--31 {
  animation-delay: 3250ms;
}
.menu__items--32 {
  animation-delay: 3500ms;
}
.menu__items--33 {
  animation-delay: 3750ms;
}
.menu__items--34 {
  animation-delay: 4000ms;
}
@media screen and (min-width: 480px) {
  .menu__items {
    height: 5rem;
    padding: 1.125rem;
  }
}
.menu__name {
  font-weight: bold;
  padding: 0.3125rem 0;
}
.menu__descr {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__price {
  font-weight: bold;
  position: absolute;
  right: 1.25rem;
  top: 2.1875rem;
}
@media screen and (min-width: 480px) {
  .menu__name, .menu__desc, .menu__price {
    font-size: 1.25rem;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(120%);
    transform-origin: top;
  }
  100% {
    opacity: 1;
  }
}
.load-block {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #F6F6F6;
  z-index: 1;
  padding: 20%;
  animation: hide 2000ms forwards ease 1;
  animation-delay: 3s;
}
@media screen and (min-width: 480px) {
  .load-block {
    padding: 20% 40%;
  }
}

.load {
  width: 15rem;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20%;
  padding: 0.625rem;
  border: 5px solid #FF79DA;
}
.load__bar {
  background: linear-gradient(#FF79DA, #9356DC);
  height: 100%;
  width: 1.25rem;
  animation: bars 1000ms backwards ease-in infinite alternate;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--5 {
  animation-delay: 1000ms;
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    transform-origin: bottom;
    opacity: 0;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}
.pres__heading {
  /*padding: 0 $default-size*2.5;*/
  margin-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.25rem;
  background-color: #F6F6F6;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .pres__heading {
    margin-top: 1.875rem;
    font-size: 1.875rem;
    font-weight: bold;
    padding: 1.25rem;
    background-color: #F6F6F6;
    max-width: 100%;
  }
}

.pres__subheading {
  margin-top: 0rem;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 1.25rem;
  background-color: #F6F6F6;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .pres__subheading {
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 1.25rem;
    background-color: #F6F6F6;
    max-width: 100%;
    padding: 0.625rem;
  }
}

.fonc__heading {
  margin-top: 3.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.25rem;
  background-color: #FFFFFF;
  max-width: 100%;
}
.fonc__element {
  position: relative;
  margin: 0.625rem 1.25rem;
  height: 3.75rem;
  border-radius: 2.1875rem;
  padding: 1.25rem;
  box-shadow: 0px 0.15rem 0.625rem #c3c3c3;
}
.fonc__puce {
  position: absolute;
  top: 1.25rem;
  left: -0.5rem;
  font-size: 1rem;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  color: #cccccc;
  padding: 0.25rem 0.4375rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}
@media screen and (min-width: 480px) {
  .fonc__puce {
    font-size: 1.25rem;
    height: 1.875rem;
    width: 1.875rem;
    text-align: center;
  }
}
.fonc__ico {
  font-size: 1.125rem;
  color: #909090;
  position: absolute;
  left: 2.5rem;
  top: 1.25rem;
}
@media screen and (min-width: 480px) {
  .fonc__ico {
    font-size: 1.875rem;
  }
}
.fonc__text {
  font-weight: bold;
  position: absolute;
  left: 5rem;
  top: 1.25rem;
}
@media screen and (min-width: 480px) {
  .fonc__text {
    font-size: 1.3125rem;
    left: 6.25rem;
  }
}

.important {
  color: #9356DC;
}

.rest {
  margin-top: 4.375rem;
  color: #000;
}
@media screen and (min-width: 480px) {
  .rest__container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .rest__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.rest__heading {
  margin-top: 3.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.25rem;
  background-color: #FFFFFF;
  max-width: 100%;
}
.rest__element {
  padding: 0 1.25rem 1.25rem 1.25rem;
  position: relative;
}
.rest__element a {
  text-decoration: none;
  color: #000;
}
.rest__img {
  border-radius: 1.25rem 1.25rem 0 0;
  height: 10.9375rem;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 480px) {
  .rest__img {
    height: 12.5rem;
    width: 100%;
    object-fit: cover;
  }
}
.rest__info {
  background-color: #FFFFFF;
  border-radius: 0 0 1.25rem 1.25rem;
  height: 5rem;
  padding: 1.25rem;
  margin-top: -0.1875rem;
  box-shadow: 0px 0.15rem 0.625rem #c3c3c3;
  position: relative;
}
@media screen and (min-width: 480px) {
  .rest__info {
    height: 5rem;
  }
}
.rest__like {
  position: absolute;
  font-size: 1.375rem;
  right: 2.125rem;
  top: 2.125rem;
}
@media screen and (min-width: 480px) {
  .rest__like {
    font-size: 1.5rem;
  }
}
.rest__name {
  font-size: 1.0625rem;
  font-weight: bold;
}
@media screen and (min-width: 480px) {
  .rest__name {
    font-size: 1.3125rem;
  }
}
.rest__city {
  font-size: 1.0625rem;
  padding: 5px 0 25px 0;
}
@media screen and (min-width: 480px) {
  .rest__city {
    font-size: 1.3125rem;
  }
}

/*# sourceMappingURL=style.css.map */
