@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
}

body {
    max-width: 375px;
    margin: 0 auto;
    background-color: #F6F6F6;
    border: 1px solid #666;
    font-family: Roboto, Arial, Verdana, sans-serif;
    color: black;
}

img {
    width: 100%;
    height: auto;
}
.center {
    text-align: center;
}
.header__home {
    height: 70px;
    font-family: Shrikhand, Arial, Verdana, sans-serif;
    font-size: 1.7rem;
    padding-top: 20px;
    background-color: #FFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
} 

.nav__home {
    height: 65px;
    padding-top: 25px;
    font-size: 1rem;
}

.nav__input {
    font-size: 1rem;
    font-weight: bold;;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
    max-width: 35%;
}

.pres__heading {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.pres__subheading {
    font-weight: normal;
    font-size: 1.1rem;
}

.btn {
    margin-top: 30px;
    height: 60px;
    width: 220px;
    border-radius: 30px;
    font-size: 1rem;
    background: linear-gradient(#FF79DA, #9356DC);
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
}

.bloc__heading {
    margin-top: 60px;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;
}

#bloc_fonc {
    background-color: white;
}

.fonc__element {
    margin: 20px 0;
    height: 60px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.fonc__puce {
    font-size: 1rem;
    background-color: #9356DC;
    height: 30px;
    width: 30px;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 20px;
}

.fonc__ico {
    font-size: 1.4rem;
    color: #7e7e7e;
    margin-right: 20px;
}

.fonc__text {
    font-weight: bold;
}

#bloc__shop {
    margin-top: 70px;
}

.shop__element {
    padding: 0 20px 20px 20px;
    position: relative;
}

.shop__element a {
    text-decoration: none;
    color: black;
}

.shop__img {
    border-radius: 20px 20px 0 0;
    height: 175px;
    width: 100%;
    object-fit: cover;   
}

.sticker-new {
    height: 30px;
    width: 80px;
    text-align:center;
    padding: 6px;
    background-color: #99e2d0;
    position: absolute;
    top: 15px;
    right: 35px;
}

.shop__info {
    background-color: white;
    border-radius: 0 0 20px 20px;
    height: 80px;
    padding: 20px;
    margin-top: -3px;
    position: relative;    
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.shop__like {
    position: absolute;
    font-size: 1.3rem;
    right: 35px;
    top: 25px;
}
.shop__name {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.shop__city {
    font-size: 1.1rem;
    padding: 5px 0 25px 0;
    color: black;
}



/* MENUS */
.header__shop {
    height: 70px;
    font-family: Shrikhand, Arial, Verdana, sans-serif;
    font-size: 1.7rem;
    padding-top: 20px;
    background-color: #FFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
} 

.nav__shop {
    position: absolute;
    left: 25px;
    top: 25px;
    font-size: 1.3rem;
}
#return a:link, #return a:visited, #return a:active {
    text-decoration: none;
    color: black;
}
.menu__img {
    height: 255px;
    object-fit: cover;
    position: relative;
}
.menu__shopname {
    position: absolute;
    border-radius: 40px 40px 0 0;
    background-color: #F6F6F6;
    left: 0;
    width: 100%;
    top: 300px;
    font-family: Shrikhand, Arial, Verdana, sans-serif; ;
    font-size: 1.7rem;
    padding: 35px 20px 0 20px;
}

.menu__categories {
    text-transform: uppercase;
    height: 25px;
    width:max-content;
    border-bottom: 3px solid #99e2d0 ;
    margin: 60px 20px 20px 20px ;
}

.menu__choices {
    max-width: 100%;
    padding: 0 10px;
}
.menu__items {
    height: 70px;
    background-color: white;
    border-radius: 20px;
    padding:12px;
    margin-bottom: 10px;    
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.space30__top {
    margin-top: 30px;
}
.menu__name {
    font-weight: bold;
    padding: 5px 0;
}
.menu__descr {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu__price {
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 35px;
}


.footer {
    margin-top: 60px ;
    background-color: #353535;
    padding: 25px 20px;
    color: white;
}

.foot__logo {
    font-family: Shrikhand, Arial, Verdana, sans-serif;
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.foot__links {
    font-size: 1.1rem;
    padding-bottom: 10px;
}
.foot__links a, a:visited {
    color: white;
    text-decoration: none;
}
.foot__ico {
    padding-right: 10px;
}