/*$breakpoints: (
    mobile: 428px,
    tablet: 1024px,
    desktop: 1290px
}*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&display=swap");
@keyframes hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    transform-origin: center;
    opacity: 0;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes heart {
  0% {
    background: #FFFFFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: medium;
    -webkit-text-stroke-color: #000;
    background-size: 100%;
    transform-origin: bottom;
    transform: translateY(0.1);
  }
  24% {
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #a16be0;
    background-size: 100%;
    transform-origin: bottom;
    transform: translateY(0.6);
  }
  100% {
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: #a16be0;
    background-size: 100%;
    transform-origin: bottom;
    transform: translateY(1);
    animation-play-state: paused;
  }
}
@keyframes mnu-hide {
  0% {
    opacity: 1;
    transform: scale(1);
    width: 100%;
  }
  100% {
    transform: translateY(200%);
    transform-origin: bottom;
    opacity: 0;
  }
}
@keyframes menu {
  0% {
    opacity: 0;
    transform-origin: top;
    transform: translateY(-110%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes check {
  0% {
    width: 90%;
  }
  33% {
    width: 87%;
    animation-timing-function: cubic-bezier(1, 0.01, 1, 0.31);
  }
  100% {
    width: 80%;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  background: #F6F6F6;
}
@media screen and (min-width: 1025px) {
  body {
    max-width: 1280px;
    margin: 0 auto;
  }
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: Roboto, Arial, Verdana, sans-serif;
  color: #000;
}

.center {
  text-align: center;
}

.header {
  font-family: Shrikhand, Arial, Verdana, sans-serif;
  font-size: 1.75rem;
}
@media screen and (min-width: 480px) {
  .header {
    font-size: 3rem;
  }
}

.btn {
  margin-top: 1.875rem;
  height: 3.125rem;
  width: 15rem;
  border-radius: 2.1875rem;
  font-size: 1rem;
  background: linear-gradient(#FF79DA, #9356DC);
  outline: none;
  border: none;
  color: #ebebeb;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0.15rem 0.625rem #c3c3c3;
}
.btn:hover {
  background: linear-gradient(#ff9de4 10%, #8b49d9);
  box-shadow: 0px 0.375rem 0.25rem #c3c3c3;
}
@media screen and (min-width: 480px) {
  .btn {
    height: 3.75rem;
    width: 18.75rem;
    font-size: 1.25rem;
  }
}

.header {
  height: 4.375rem;
  padding-top: 1.25rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.125rem 0.625rem #c3c3c3;
}
@media screen and (min-width: 480px) {
  .header {
    height: 5.625rem;
  }
}

.search {
  height: 4.0625rem;
  padding-top: 1.5625rem;
}
.search__input {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #F6F6F6;
  margin-left: 0.625rem;
  max-width: 40%;
}

@media screen and (min-width: 480px) {
  .search {
    height: 5.3125rem;
    padding-top: 2.8125rem;
    padding-left: 10%;
  }

  .search__input {
    font-size: 1.25rem;
    margin-left: 1.25rem;
  }

  .search__ico {
    font-size: 1.5rem;
  }
}
.return {
  position: absolute;
  top: 1.5625rem;
  padding-left: 1.25rem;
  font-size: 1.3125rem;
  max-width: 100%;
}
.return a {
  text-decoration: none;
  color: #000;
}

.sticker-new {
  height: 1.875rem;
  width: 5rem;
  text-align: center;
  padding: 0.375rem;
  background-color: #99E2D0;
  position: absolute;
  top: 0.9375rem;
  right: 2.1875rem;
  color: #185546;
}

.fa-heart {
  font-weight: bold;
  cursor: pointer;
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: medium;
  -webkit-text-stroke-color: #000;
}
.fa-heart:active {
  animation: heart 2500ms forwards ease-out;
}
@media screen and (min-width: 1025px) {
  .fa-heart:hover {
    animation: heart 3500ms forwards cubic-bezier(0.85, 0.01, 0.83, 0.67);
  }
}

.footer {
  margin-top: 3.75rem;
  background-color: #343434;
  padding: 1.5625rem 1.25rem;
  color: #FFFFFF;
}
.footer__logo {
  font-family: Shrikhand, Arial, Verdana, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1.25rem;
}
.footer__links {
  font-size: 1.125rem;
  padding-bottom: 0.625rem;
}
.footer__links a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__ico {
  padding-right: 0.625rem;
}

.menu__container {
  position: absolute;
  margin-top: 1.25rem;
  width: 100%;
  background: #F6F6F6;
  z-index: 1;
  animation: mnu-hide 10000ms forwards ease 1;
  animation-delay: 1099ms;
}

.mnu-head {
  position: relative;
}
.mnu-head > img {
  width: 100%;
  height: 16.5625rem;
  object-fit: cover;
}
.mnu-head > h1 {
  position: absolute;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #F6F6F6;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Shrikhand, Arial, Verdana, sans-serif;
  font-size: 1.625rem;
  padding: 2.1875rem 1.25rem 0 1.25rem;
}

.mnu--like {
  position: absolute;
  font-size: 1.375rem;
  text-align: center;
  cursor: pointer;
  top: 15rem;
  right: 1rem;
}
@media screen and (min-width: 480px) {
  .mnu--like {
    position: absolute;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    top: 14.375rem;
    right: 3.125rem;
  }
}
@media screen and (min-width: 1025px) {
  .mnu--like {
    position: absolute;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    top: 16.875rem;
    right: 15rem;
  }
}

.cat {
  text-transform: uppercase;
  height: 1.5625rem;
  width: max-content;
  border-bottom: 0.1875rem solid #99E2D0;
  margin: 4.375rem 1.25rem 1.25rem 1.25rem;
  animation: menu 1000ms forwards ease;
}
.cat--1 {
  animation-delay: 1100ms;
}
.cat--2 {
  animation-delay: 2100ms;
}
.cat--3 {
  animation-delay: 3100ms;
}
@media screen and (min-width: 480px) {
  .cat {
    font-size: 1.375rem;
  }
}

.plates-group {
  max-width: 100%;
  margin: 0 1.25rem 1.25rem 1.25rem;
}

.plates {
  max-width: 100%;
  background-color: #FFFFFF;
  border-radius: 1.25rem;
  margin-bottom: 0.625rem;
  animation: menu 1000ms;
  height: max-content;
  box-shadow: 0px 0.15rem 0.625rem #c3c3c3;
  position: relative;
}
.plates--11 {
  animation-delay: 1250ms;
}
.plates--12 {
  animation-delay: 1500ms;
}
.plates--13 {
  animation-delay: 1750ms;
}
.plates--14 {
  animation-delay: 2000ms;
}
.plates--21 {
  animation-delay: 2250ms;
}
.plates--22 {
  animation-delay: 2500ms;
}
.plates--23 {
  animation-delay: 2750ms;
}
.plates--24 {
  animation-delay: 3000ms;
}
.plates--31 {
  animation-delay: 3250ms;
}
.plates--32 {
  animation-delay: 3500ms;
}
.plates--33 {
  animation-delay: 3750ms;
}
.plates--34 {
  animation-delay: 4000ms;
}

.plates__checker {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  background: #99E2D0;
  color: #FFFFFF;
  border-radius: 0 1.25rem 1.25rem 0;
  padding: 1.25rem 0.625rem 0 0.625rem;
  opacity: 0;
}
@media screen and (min-width: 480px) {
  .plates__checker {
    font-size: 2.25rem;
    padding: 1.625rem 0 0 0.9375rem;
  }
}

.plates:active .plates-cont {
  animation: check 2000ms;
}
.plates:active .plates__checker {
  opacity: 1;
  transform-origin: right;
  transition: all 450ms;
}
@media screen and (min-width: 480px) {
  .plates:active .plates__checker {
    width: 6.25rem;
  }
}

.plates-cont {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0.625rem;
}
.plates-cont__name {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  padding-bottom: 0.25rem;
}
.plates-cont__descr {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plates-cont__price {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-weight: bold;
  height: 100%;
  text-align: right;
  padding-left: 1.25rem;
}
@media screen and (min-width: 480px) {
  .plates-cont {
    height: 5rem;
  }
}

@media screen and (min-width: 480px) {
  .mnu-head > h1 {
    font-size: 1.875rem;
  }

  .plates-cont__name {
    font-size: 1.25rem;
    padding: 0.3125rem 0.9375rem 0 0.9375rem;
  }

  .plates-cont__desc {
    font-size: 1.25rem;
    padding: 0.375rem 0 0 0.9375rem;
  }

  .plates-cont__price {
    font-size: 1.25rem;
    padding: 0.4375rem 0.9375rem 0 0.9375rem;
  }
}
@media screen and (min-width: 1025px) {
  .mnu-head > img {
    height: 18.75rem;
  }

  .mnu-head > h1 {
    font-size: 2.125rem;
    text-align: center;
  }

  .plates__checker {
    width: 90px;
  }

  .plates:hover .plates-cont {
    animation: check 2000ms;
  }
  .plates:hover .plates__checker {
    opacity: 1;
    transform-origin: right;
    transition: all 600ms;
  }

  .menu > section > ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.625rem;
  }

  .menu > section {
    padding: 0 5rem;
  }
}
.load-block {
  position: fixed;
  height: 100%;
  max-width: 100%;
  background: #F6F6F6;
  z-index: 1;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide 2000ms forwards ease 1;
  animation-delay: 3s;
}

.load {
  width: 15rem;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20%;
  padding: 0.625rem;
}
.load__bar {
  background: linear-gradient(#FF79DA, #9356DC);
  height: 100%;
  width: 1.25rem;
  animation: bars 1000ms backwards ease-in infinite alternate;
}
.load__bar--1 {
  animation-delay: 166.6666666667ms;
}
.load__bar--2 {
  animation-delay: 333.3333333333ms;
}
.load__bar--3 {
  animation-delay: 500ms;
}
.load__bar--4 {
  animation-delay: 666.6666666667ms;
}
.load__bar--5 {
  animation-delay: 833.3333333333ms;
}
.load__bar--6 {
  animation-delay: 1000ms;
}

.pres-heading {
  margin-top: 1.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.25rem;
  background-color: #F6F6F6;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .pres-heading {
    margin-top: 1.875rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.25rem;
    background-color: #F6F6F6;
    max-width: 100%;
  }
}

.pres-subheading {
  margin-top: 0rem;
  font-size: 1.125rem;
  font-weight: normal;
  padding: 1.25rem;
  background-color: #F6F6F6;
  max-width: 100%;
}
@media screen and (min-width: 480px) {
  .pres-subheading {
    margin-top: 0rem;
    font-size: 1.25rem;
    font-weight: normal;
    padding: 1.25rem;
    background-color: #F6F6F6;
    max-width: 100%;
    padding: 0.375rem;
  }
}

.b-fonc > h2 {
  margin-top: 3.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.25rem;
  background-color: #FFFFFF;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .b-fonc__container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
  }
}
.etape {
  position: relative;
  display: grid;
  grid-template-columns: 25% auto;
  margin: 0.625rem 1.25rem;
  height: 3.75rem;
  border-radius: 2.1875rem;
  padding: 1.25rem;
  box-shadow: 0px 0.15rem 0.625rem #c3c3c3;
}
@media screen and (min-width: 480px) {
  .etape {
    margin-top: 1.875rem;
    padding: 1.5rem;
    height: max-content;
    grid-template-columns: 1fr auto;
  }
}

.etape__num {
  position: absolute;
  top: 1.25rem;
  left: -0.5rem;
  font-size: 1rem;
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  color: #cccccc;
  padding: 0.25rem 0.4375rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}
@media screen and (min-width: 480px) {
  .etape__num {
    top: -1rem;
    left: 45%;
    right: 45%;
    margin: 0;
    font-size: 1.25rem;
    height: 1.875rem;
    width: 1.875rem;
    text-align: center;
  }
}

.etape__text {
  font-weight: bold;
  text-align: left;
}
@media screen and (min-width: 480px) {
  .etape__text {
    margin-top: 1rem;
    font-size: 1.125rem;
  }
}

.ico {
  font-size: 1.25rem;
  color: #909090;
  margin-left: 1.25rem;
}
@media screen and (min-width: 480px) {
  .ico {
    font-size: 1.375rem;
    text-align: center;
    margin: 0.625rem 0.625rem 0 0.625rem;
  }
}

.important {
  color: #9356DC;
}

.b-rest {
  margin-top: 4.375rem;
  color: #000;
}
.b-rest > h2 {
  margin-top: 3.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.25rem;
  background-color: #FFFFFF;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .b-rest__container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .b-rest__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.rest-card {
  padding: 0 1.25rem 1.25rem 1.25rem;
  position: relative;
}
.rest-card > a {
  text-decoration: none;
  color: #000;
}

.rest-card__img {
  border-radius: 1.25rem 1.25rem 0 0;
  height: 10.9375rem;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 480px) {
  .rest-card__img {
    height: 12.5rem;
    width: 100%;
    object-fit: cover;
  }
}

.rest-card__like {
  position: absolute;
  font-size: 1.375rem;
  text-align: center;
  cursor: pointer;
  top: 12.75rem;
  right: 2.5rem;
}
@media screen and (min-width: 480px) {
  .rest-card__like {
    position: absolute;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    top: 14.375rem;
    right: 3.125rem;
  }
}

.info {
  background-color: #FFFFFF;
  border-radius: 0 0 1.25rem 1.25rem;
  height: 5rem;
  padding: 1.25rem;
  margin-top: -0.1875rem;
  box-shadow: 0px 0.15rem 0.625rem #c3c3c3;
  position: relative;
}
@media screen and (min-width: 480px) {
  .info {
    height: 5rem;
  }
}

.name {
  font-size: 1.0625rem;
  font-weight: bold;
}
@media screen and (min-width: 480px) {
  .name {
    font-size: 1.125rem;
  }
}

.city {
  font-size: 1.0625rem;
  padding: 5px 0 25px 0;
}
@media screen and (min-width: 480px) {
  .city {
    font-size: 1.125rem;
  }
}

/*# sourceMappingURL=style.css.map */
