
.fa-heart {
    font-weight: bold;
    cursor: pointer;  
    @include cfg-like($color-bg-secondary); 
    &:active {
        animation: heart 2500ms forwards ease-out;         
    }
    @media screen and (min-width: map-get($breakpoints, desktop)){   
        &:hover {
            animation: heart 3500ms forwards cubic-bezier(.85,.01,.83,.67); 
        } 
    }
}
