.search {
    height: $default-size * 3.25;
    padding-top: $default-size * 1.25;
    &__input {
        font-size: $default-size * 0.8;
        font-weight: bold;;
        border: none;
        outline: none;
        background-color: $color-bg-primary;
        margin-left: $default-size * 0.5;
        max-width: 40%;
    }
}

.return {
    position: absolute;
    left: $default-size * 1.25;
    top: $default-size * 1.25;
    font-size: $default-size * 1.05;
    a {
        text-decoration: none;
        color: $color-font;
    }
}

