.search {
    height: $default-size * 3.25;
    padding-top: $default-size * 1.25;
    background-color: $color-bg-primary-dark;
    &__input {
        font-size: $default-size * 0.8;
        font-weight: bold;;
        border: none;
        outline: none;
        background-color: $color-bg-primary;
        margin-left: $default-size * 0.5;
        max-width: 40%;
    }
}

@media screen and (min-width: map-get($breakpoints, tablet)) {
    .search {
        height: $default-size * 4.25;        
        padding-top: $default-size * 2.25;
        padding-left: 10%;
    }
    .search__input {
        font-size: $default-size;            
        margin-left: $default-size;
    }
    .search__ico {   
        font-size: $default-size * 1.2; 
    }
}

.return {
    position: absolute;
    //left:$default-size*0.5;
    top: $default-size * 1.25;
    padding-left:  $default-size;
    font-size: $default-size * 1.05;
    max-width: 100%;
    a {
        text-decoration: none;
        color: $color-font;
    }
}

