.sticker-new {
    height: $default-size * 1.5;
    width: $default-size * 4;
    text-align:center;
    padding: $default-size * 0.3;
    background-color: $color-tertiary;
    position: absolute;
    top: $default-size * 0.75;
    right: $default-size *  1.75;
    color: darken($color-tertiary, 53%);
}