.footer {
    margin-top: $default-size * 3;
    background-color: darken($color-bg-primary, 76%);
    padding: $default-size*1.25 $default-size;
    color: $color-bg-secondary;
    &__logo {
        font-family: $font-logo;
        font-size: $default-size *1.2;
        padding-bottom: $default-size;
    }
    &__links {
        font-size: $default-size * 0.9;
        padding-bottom: $default-size * 0.5;
        a {
            color: $color-bg-secondary;
            text-decoration: none;
        }
    }
    &__ico {
        padding-right: $default-size * 0.5;
    }
}
