.footer {
    margin-top: 60px ;
    background-color: #353535;
    padding: 25px 20px;
    color: white;
    &__logo {
        font-family: Shrikhand, Arial, Verdana, sans-serif;
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
    &__links {
        font-size: 1.1rem;
        padding-bottom: 10px;
        a {
            color: white;
            text-decoration: none;
        }
    }
    &__ico {
        padding-right: 10px;
    }
}
