*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background: $colour-bg-primary;   
    margin: 0 auto;
    position: relative; 
    max-width: 375px;
}

.space30__top {
    margin-top: 30px;
}

