*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    box-sizing: inherit;
    background: $color-bg-primary; 
    
    @media screen and (min-width: map-get($breakpoints, desktop)){
        max-width: $breakpoints-max-desktop;
        margin: 0 auto;
    } 
}

img {
    width: 100%;    
    height: auto;
}