@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Shrikhand&display=swap');
body {
    font-family: $font-content;
    color: $color-font; 
}

.center {
    text-align: $mid-align;
}

.header {
    font-family: $font-logo;      
    font-size: $default-size * 1.4;
}

.pres__heading {
    font-weight: bold;
    font-size: $default-size * 1.2;
}

.pres__subheading {
    font-weight: normal;
    font-size: $default-size * 0.9;
}