.pres__heading {
    /*padding: 0 $default-size*2.5;*/
    
    @include heading ($size:$default-size * 1.2);    
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @include heading ($size:$default-size * 1.5,$margin:$default-size * 1.5);
    }
}
.pres__subheading {
    @include heading ($size:$default-size * 0.9, $weight:normal, $margin:$default_size*0);
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @include heading ($size:$default-size * 1.2, $weight:normal, $margin:$default_size*0);
        padding: $default-size*0.5;
    }
}

.fonc {
    &__heading {
        @include heading ($margin:$default-size * 3, $color:$color-bg-secondary);
    }
    &__element {
        position: relative; 
        margin: $default-size/2 $default-size;
        height: $default-size * 3;
        border-radius: $default-size * 1.75;
        padding: $default-size;
        @include bloc-shadow(0px,$default-size * 0.12, $default-size*0.5, $color-shadow);         
    }
    &__puce {
        position: absolute;
        top: $default-size;
        left:$default-size * -0.4;
        font-size: $default-size * 0.8;
        background-color: $color-primary;
        height: $default-size * 1.2;
        width: $default-size * 1.2;
        color:lighten($color-font, 80%);
        padding: $default-size*0.2 $default-size * 0.35;
        border-radius: 50%;
        margin-right: $default-size;
    }
    &__ico {
        font-size: $default-size * 0.9;
        color: darken($color-bg-primary,40%);
        position: absolute;
        left: $default-size *2;
        top: $default-size;       
    }
    &__text {
        font-weight: bold;
        position: absolute;
        left: $default-size * 4;
        top: $default-size;
    }
    @media screen and (min-width: map-get($breakpoints, tablet)){
        
        &__puce {
            font-size: $default-size;
            height: $default-size * 1.5;
            width: $default-size * 1.5;
            text-align: center;
        }        
        &__ico {
            font-size: $default-size*1.5;  
        }       
        &__text {
            font-size: $default-size*1.05;            
            left: $default-size * 5;
        }
    }       
}

.important {
    color: $color-primary;
}