.rest {
    margin-top: $default-size * 3.5;      
    color: $color-font;
    &__heading {
        @include heading ($margin:$default-size * 3, $color:$color-bg-secondary);
    }
    &__element {
        padding: 0 $default-size $default-size $default-size;
        position: relative;
        a {
            text-decoration: none;
            color: $color-font;
        }
    }
    &__img {
        border-radius: $default-size $default-size 0 0;
        height: $default-size * 8.75;
        width: 100%;
        object-fit: cover;  
        @media screen and (min-width: map-get($breakpoints, tablet)){
            height: $default-size * 10;            
            width: 100%;
            object-fit: cover;  
        } 
    }
    &__info {
        background-color: $color-bg-secondary;
        border-radius: 0 0 $default-size $default-size;
        height: $default-size * 4;
        padding: $default-size;
        margin-top: $default-size * -0.15;
        @include bloc-shadow(0px,$default-size * 0.12, $default-size*0.5, $color-shadow); 
        position: relative;
    }
    &__like {
        position: absolute;
        font-size: $default-size * 1.1;
        right: $default-size * 1.7;
        top: $default-size * 1.7;
    }   
    &__name {
        font-size: $default-size * 0.85;  
        font-weight: bold;
    }
    &__city {   
        font-size: $default-size * 0.85;       
        padding: 5px 0 25px 0;
    }
    @media screen and (min-width: map-get($breakpoints, tablet)){
        &__container {
            display: grid;
            grid-template-columns: 3fr 3fr;
            width: 100%;
        }   
        &__info {
            height: $default-size * 4;
        }
        &__like {
            font-size: $default-size * 1.2;
        }   
        &__name {
            font-size: $default-size * 1.05; 
        }
        &__city {   
            font-size: $default-size * 1.05;   
        }     
    }    
    @media screen and (min-width: map-get($breakpoints,desktop)){
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }        
    }
}