.store {
    margin-top: $default-size * 3.5;      
    color: $color-font;
    &__heading {
        @include heading;
    }
    &__element {
        padding: 0 $default-size $default-size $default-size;
        position: relative;
        a {
            text-decoration: none;
            color: $color-font;
        }
    }
    &__img {
        border-radius: $default-size $default-size 0 0;
        height: $default-size * 8.75;
        width: 100%;
        object-fit: cover;   
    }
    &__info {
        background-color: $color-bg-secondary;
        border-radius: 0 0 $default-size $default-size;
        height: $default-size * 4;
        padding: $default-size;
        margin-top: $default-size * -0.15;
        @include bloc-shadow(0px,$default-size * 0.12, $default-size*0.5, $color-shadow); 
        position: relative;
    }
    &__like {
        position: absolute;
        font-size: $default-size * 1.1;
        right: $default-size * 1.7;
        top: $default-size * 1.7;
    }   
    &__name {
        font-size: $default-size * 0.85;  
        font-weight: bold;
    }
    &__city {   
        font-size: $default-size * 0.85;       
        padding: 5px 0 25px 0;
    }
}