
@keyframes  hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% { 
        transform: scale(0);
        transform-origin: center;
        opacity: 0;         
    }
}

@keyframes bars {
    0% { 
        transform: scaleY(0.3);
    }
    100% {
        transform: scaleY(1);
    }
}


@keyframes heart {
    0% {
        @include cfg-like($color-bg-secondary) ;
        background-size: 100%; 
        transform-origin: bottom;
        transform: translateY(0.1);
        //transform: scaleY(0.3);
    }
    24% {
        @include cfg-like-on($bg:linear-gradient($color-primary, $color-secondary)); 
        background-size: 100%;         
        transform-origin: bottom;
        transform: translateY(0.6);       
        //transform: scaleY(0.6); 
    }
    100% {
        @include cfg-like-on($bg:linear-gradient($color-primary, $color-secondary));   
        background-size: 100%;        
        transform-origin: bottom;
        transform: translateY(1);        
        //transform: scaleY(1);
        animation-play-state: paused;
    }
}

@keyframes mnu-hide {
    0% {
        opacity: 1;
        transform: scale(1);
        width: 100%;
    }
    100% { 
        transform: translateY(200%);
        transform-origin: bottom;
        opacity: 0;         
    }
}

@keyframes menu {
    0% {
        opacity: 0;
        transform-origin: top;
        transform: translateY(-110%);        
    }
    100% {
        opacity: 1;		
    }
}

@keyframes check {
    0% {
      width: 90%;       
    }
    33% {   
        width: 87%;     
        animation-timing-function: cubic-bezier(1,.01,1,.31);
    }
    100% {
        width: 80%;
    }
}
