@mixin bloc-shadow($offset1, $offset2, $thickness, $color){
    box-shadow: $offset1 $offset2 $thickness $color;
}

@mixin heading ($size:$default-size, $weight:bold, $margin:$default_size, $color: $color-bg-primary ){
    margin-top: $margin;
    font-size: $size;
    font-weight: $weight;
    padding: $default-size;
    background-color: $color;
    max-width: 100%;
}

@mixin btn {
    margin-top: $default-size * 1.5;
    height: $default-size * 2.5;
    width: $default-size * 12;
    border-radius: $default-size * 1.75;
    font-size: 1rem;
    background: $color-gradient;
    outline: none;
    border: none;
    color: darken($color-btn-font,8);
    font-weight: bold;
    cursor: pointer; 
    &:hover {
        background: linear-gradient(lighten($color-secondary,7) 10%, darken($color-primary,3));
        @include bloc-shadow(0px,$default-size * 0.3, $default-size*0.2, $color-shadow);
    } 
    @include bloc-shadow(0px,$default-size * 0.12, $default-size*0.5, $color-shadow);
    @media screen and (min-width: map-get($breakpoints, tablet)){
        height: $default-size * 3;        
        width: $default-size * 15;        
        font-size: $default-size;
    }
}

@mixin cfg-like ($bg:$color-bg-secondary) {
    background: $bg;
    background-position: bottom;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: medium;
    -webkit-text-stroke-color: $color-font;
}

@mixin like {    
    font-weight: bold;
    cursor: pointer;  
    @include cfg-like($color-bg-secondary);
    &:active{      
        transition-timing-function: cubic-bezier(.4,.91,.66,.94);          
        transition: background-color 2000ms;
        @include cfg-like($bg:linear-gradient($color-primary, $color-secondary));
        -webkit-text-stroke-width: thin;        
        -webkit-text-stroke-color: $color-primary-light;
    }    
}


