$colour-primary: #9356DC;
$colour-bg-primary:  #F6F6F6;
$colour-bg-secondary: #FFFFFF;
$colour-bg-tertiary: #EAEAEA;
$colour-font: #000000;
$colour-none: transparent;

$font-logo: Shrikhand, Arial, Verdana, sans-serif;
$font-content: Roboto, Arial, Verdana, sans-serif;

$mid-align: center;








/*$breakpoints: (
    mobile: 428px,
    tablet: 1024px,
    desktop: 1290px
}*/