$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-bg-primary:  #F6F6F6;
$color-bg-secondary: #FFFFFF;
$color-bg-tertiary: #EAEAEA;

$color-shadow: darken($color-bg-primary, 20%);

$color-font: #000000;

$default-size: 1.25rem;

$font-logo: Shrikhand, Arial, Verdana, sans-serif;
$font-content: Roboto, Arial, Verdana, sans-serif;

$mid-align: center;

$breakpoints: (
    mobile: 320px,
    tablet: 480px,
    desktop: 1025px
);










/*$breakpoints: (
    mobile: 428px,
    tablet: 1024px,
    desktop: 1290px
}*/