$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-gradient: linear-gradient($color-secondary, $color-primary);

$color-bg-primary:  #F6F6F6;
$color-bg-secondary: #FFFFFF;
$color-bg-tertiary: #EAEAEA;

$color-shadow: darken($color-bg-primary, 20%);
$color-primary-light: lighten(#9356DC,5%);
$color-bg-primary-dark: darken(#F6F6F6,5%);

$color-font: #000;
$color-btn-font: #fff;

$default-size: 1.25rem;
$margin: 2rem;

$load-bars-size: $default-size;
$load-size: $load-bars-size * 300;
$load-bars-color-min: $color-secondary;
$load-bars-color-max: $color-primary;
$load-num-bars: 6;
$load-duration: 1000ms;
$load-delay: $load-duration / $load-num-bars;

$mnu-num: 4;
$mnu-cat-num: 3;
$mnu-hide-dur: 10000ms;
$mnu-dur: 1000ms;
$mnu-delay: $mnu-dur / $mnu-num;

$font-logo: Shrikhand, Arial, Verdana, sans-serif;
$font-content: Roboto, Arial, Verdana, sans-serif;

$mid-align: center;

$breakpoints: (
    mobile: 320px,
    tablet: 480px,
    desktop: 1025px
);

$breakpoints-max-desktop: 1280px;










/*$breakpoints: (
    mobile: 428px,
    tablet: 1024px,
    desktop: 1290px
}*/